h1 {
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    text-decoration: overline;
    color: rgb(17, 70, 59);
}

h2 {
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    text-decoration: underline;
    color: rgb(17, 70, 59);
}

body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: rgb(181, 216, 216);
}

p {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: rgb(181, 216, 216);
    margin-left: 300px;
}

ul,
ol {
    margin-left: 300px;
}

img {
    margin-left: 300;
}

a {
    margin-left: 300;
    color: rgb(12, 100, 104);
    font-weight: bold;
}

a:hover {
    text-decoration: wavy;
    color: rgb(189, 19, 53);
}

button {
    color: black;
    background-color: darkgrey;
    margin-left: 310px;
    margin-bottom: 20px;
    padding: 10px 25px;
    border-radius: 20px;
    cursor: pointer;
    font-weight: bolder;
}

audio,
video {
    margin-left: 300px;
}